aiohttp
aria2p
async_generator
asyncurban
bs4
bitlyshortener
cowpy
cffi
covid
cryptg
cairosvg
colour
deezloader
dnspython
emoji
gitpython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googletrans==3.1.0a0
google_images_download
gTTS
gTTS-token
glitch_this
geopy
git+https://github.com/johnwmillr/LyricsGenius.git
hachoir
# heroku
heroku3
httplib2
humanize
html_telegraph_poster
justwatch
jikanpy
lyricsgenius
lottie
lxml
oauth2client
Pillow
psycopg2
psycopg2-binary
pybase64
pyfiglet
pylast
pySmartDL
pendulum
psutil
python-barcode
python-dotenv
python-dateutil
pytz
PyGithub
qrcode
redis
requests
search-engine-parser
speedtest-cli
sqlalchemy
scipy
TgCrypto
telethon
telethon-session-sqlalchemy
telegraph
urbandict
validators
vcsi
wikipedia
wget
wordcloud
youtube-dl
youtube_search
zipfile38
opencv-python-headless
