wheel
aiohttp == 3.6.2
aiofiles
aria2p
async_generator
cowpy
psutil
wget
TgCrypto>=1.2.0
cffi>=1.0.0
dnspython
emoji
PyPDF2
cryptg
patool
gitpython
asyncurban
google-api-python-client==1.8.0
google-auth-oauthlib
google_images_download>=2.7.1
googletrans>=2.4.0
gsearch
gTTS
gTTS-token
hachoir>=3.0a5
REPO_LINK
heroku3>=3.4.0
html_telegraph_poster
jikanpy>=4.2.2
pendulum==2.0.5	
httplib2>=0.18.0
humanize 
lxml
oauth2client
Pillow>=6.0.0
regex
psycopg2
psycopg2-binary
pybase64>=0.4.0
pylast
pySmartDL
python-barcode
python-dotenv
pytz
qrcode
requests>=2.23.0
search-engine-parser>=0.6.1
speedtest-cli>=2.0.2
sqlalchemy>=1.2
telethon==1.16.2
telethon-session-sqlalchemy>=0.2.6
urbandict>=0.5
wikipedia>=1.4.0
coffeehouse>=2.1.0
git+https://github.com/johnwmillr/LyricsGenius.git
git+https://github.com/LonamiWebs/Telethon
lyricsgenius
redis>=3.3.10
glitch_this
PyDrive2
pyDownload
beautifulsoup4>=4.8.1
youtube-dl>=2019.9.28
PyGithub
bs4
covid>=2.3.0
base
pip>=19.2.3
setuptools>=46.4.0
selenium>=3.141.0
# SpeechRecognition>=3.4.6
# wheel>=0.30.0a0
telegraph
python-dateutil
pyfiglet   
jotquote
csvfaker
git+https://github.com/ahupp/python-magic
pytube>=9.5.1
pymongo[srv]
youtube_search
justwatch
deezloader
zipfile38
bitlyshortener
geopy
validators
twitter_scraper
pyaztro
simplejson == 3.17.0
validators
